%footer
  .container
    .row
      .col-md-13
        %ul.list-inline.quicklinks
          %li
            %a{:href => "#"} Link 1
          %li
            %a{:href => "#"} Link 2
          %li
            %a{:href => "#"} Link 3