// Place all the styles related to the dashboard controller here.
// They will automatically be included in application.scss.
// You can use Sass (SCSS) here: http://sass-lang.com/

.sync {
  background-color: #B7D1EB
}

.brand-size {
  width: 190px
}

.fnt-fmly {
  font-family: 'Source Sans Pro', 'Segoe UI', 'Droid Sans', Tahoma, Arial, sans-serif;
}

#page-content {
   padding-bottom: 0px;
}
