#home
  .overlay
    / overylay class usage
    .container
      .col-md-8.col-md-offset-2.text-center
        %h1 DESIGN AGENCY
        %h2 You Think, We Deliver
        %p.p-cls
          Lorem ipsum dolor sit amet, consectetur adipiscing elit.
-#/ HOME SECTION END
%section#services
  .container
    .row.text-center.pad-bottom
      .col-md-6.col-md-offset-3.col-sm-6.col-sm-offset-3
        %h2.head-set OUR SERVICES
        %p
          Lorem ipsum dolor sit amet, consectetur adipiscing elit.
          Curabitur nec nisl odio. Mauris vehicula at nunc id posuere.
    .row.text-center
      .col-md-4.col-sm-4.col-xs-12
        %i.fa.fa-recycle.fa-5x
        %h4.head-set RESPONSIVE DESIGN
        %p
          Lorem ipsum dolor sit amet, consectetur adipiscing elit.
          Curabitur nec nisl odio. Mauris vehicula at nunc id posuere.
      .col-md-4.col-sm-4.col-xs-12
        %i.fa.fa-desktop.fa-5x
        %h4.head-set EASY TO CUSTOMIZE
        %p
          Lorem ipsum dolor sit amet, consectetur adipiscing elit.
          Curabitur nec nisl odio. Mauris vehicula at nunc id posuere.
      .col-md-4.col-sm-4.col-xs-12
        %i.fa.fa-bolt.fa-5x
        %h4.head-set 100% FREE TO USE
        %p
          Lorem ipsum dolor sit amet, consectetur adipiscing elit.
          Curabitur nec nisl odio. Mauris vehicula at nunc id posuere.
/ SERVICES SECTION END
.parallax-like
  .overlay
    .container
      .row
        .col-lg-4.col-md-4.col-sm-4
          %div
            %strong 1300+
            %p
              Projects
        .col-lg-4.col-md-4.col-sm-4
          %div
            %strong 100+
            %p
              Locations
        .col-lg-4.col-md-4.col-sm-4
          %div
            %strong 5000+
            %p
              Employees
/ PARALLAX LIKE / STATS SECTION END
%section#works
  .container
    .row.text-center.pad-bottom
      .col-md-6.col-md-offset-3.col-sm-6.col-sm-offset-3
        %h2.head-set OUR WORKS
        %p
          Lorem ipsum dolor sit amet, consectetur adipiscing elit.
          Curabitur nec nisl odio. Mauris vehicula at nunc id posuere.
    .row.text-center.portfolio-item
      .col-md-4.col-sm-4
        .alert.alert-info
          %img.img-responsive{:alt => "", :src => "assets/img/1.jpg"}/
          %h3 Project Title Here
          %h5
            %a{:href => "#"}>
              %strong Click Here
            to go to the project
      .col-md-4.col-sm-4
        .alert.alert-danger
          %img.img-responsive{:alt => "", :src => "assets/img/2.jpg"}/
          %h3 Project Title Here
          %h5
            %a{:href => "#"}>
              %strong Click Here
            to go to the project
      .col-md-4.col-sm-4
        .alert.alert-success
          %img.img-responsive{:alt => "", :src => "assets/img/3.jpg"}/
          %h3 Project Title Here
          %h5
            %a{:href => "#"}>
              %strong Click Here
            to go to the project
/ WORKS / PORTFOLIO SECTION END
#video-sec.player{"data-property" => "{videoURL:'https://www.youtube.com/watch?v=Ycv5fNd4AeM',containment:'self',autoPlay:true, mute:true, startAt:0, opacity:1,mute: true,showControls:false}"}
  / change https://www.youtube.com/watch?v=Ycv5fNd4AeM to your youtube url
  .overlay
    .container
      .row.text-center
        .col-md-12
          %h1 HERE IS BACKGROUND VEDIO
          %h4
            This scripts uses plugin
            %strong jquery.mb.YTPlayer
          %h4
            to play video in background of divs
/ VIDEO SECTION END
%section#contact
  .container
    .row.text-center
      .col-md-6.col-md-offset-3.col-sm-6.col-sm-offset-3
        %h2.head-set OUR LOCATION
        %p
          Lorem ipsum dolor sit amet, consectetur adipiscing elit.
          Curabitur nec nisl odio. Mauris vehicula at nunc id posuere.
        %br/
    .row.text-center
      .col-md-12
        %h3 102, Melborne City,
        %h3 United States - 600 - 009 -00.
        %h3
          %strong Email :
          info@yourdomain.com
/ CONTACT SECTION END
%section#clients
  .container
    .row
      .col-md-3
        %img.img-responsive{:alt => "", :src => "assets/img/audio.png"}/
      .col-md-3
        %img.img-responsive{:alt => "", :src => "assets/img/codecanon.png"}/
      .col-md-3
        %img.img-responsive{:alt => "", :src => "assets/img/graphic.png"}/
      .col-md-3
        %img.img-responsive{:alt => "", :src => "assets/img/themeforest.png"}/
/ CLIENTS SECTION END
