%p
  Hey #{@user.first_name},
%p You recently registered for SchoolSparrow. To complete your SchoolSparrow registration, Please confirm your account.
%p= link_to '<center><button style="color: #fff; background-color: #337ab7; border-color: #2e6da4"; padding: 6px 12px; margin-bottom: 0; font-size: 14px; font-weight: normal; line-height: 1.42857143; text-align: center; white-space: nowrap; vertical-align: middle; touch-action: manipulation; -webkit-user-select: none; background-image: none; border: 1px solid transparent; border-radius: 4px; display: block; >Confirm Account</button></center>'.html_safe, confirmation_url(@resource, confirmation_token: @token)
%p This is an automated message from SchoolSparrow. Do not respond to this email.


